# Port for the built Node server. Vite dev port is set in vite.config.ts.
PORT=3001
SERVER_VENDURE_SHOP_API_URL=http://localhost:3000/shop-api

# Optional for the default Vendure channel
SERVER_VENDURE_CHANNEL_TOKEN=

SERVER_VENDURE_LANGUAGE_CODE=uk
